// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /**Colorpallet**/
  --ion-color-lightBlue: #90B6BF;
  --ion-color-halfFilledBlue: #1790AA;
  --ion-color-markedBlue: #107A92;
  --ion-color-purple: #7F8AF4;
  --ion-color-grey: #CCCACA;
  --ion-color-white: #FFFFFF;
  --ion-color-black: #000000;
  --ion-color-veyLightGery: #F5F5F5;
  --ion-color-scrollBarGery: #9B9B9B;
  --ion-background-color: #FFFFFF;
}

.card{
  color: #7F8AF4;
}
.ion-card{
  height: 20%;
  width: 30%;
}
/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body {
}

.ios ion-modal {
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body {
}
